<div>
  <h2>All = {{ all }}</h2>
  <h2>Partial = {{ partial }}</h2>
  <h2>None = {{ none }}</h2>
</div>

<!-- 1.get the data 
        a.write interfaces to match data format
        b.import 
        c. httpClientModule import,inject,get data in variable
      
      2.crete 3 variables all,partial,none
    
      3.parse the data if in marksinfo all obtainedMarks === 1 then all += 1
                                      none obtainedMarks === 1 then none += 1     
                                      else partial +=1
-->